
.navLinkListTravel{
    display: flex;
	padding: 50px 0 0 100px;
}

.linkListTravel{
    margin: 5px;
    background-color: #d3b589d7;
    line-height: 20px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: rgb(66, 65, 65);
	cursor: pointer;
    padding: 5px;
    border-radius: 10px;
}    