
.navLinkListTravel{
  display: flex;
	justify-content: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

.allLinksListTravel{
  margin: 20px 0 10px 0;
}

.linkListTravel{
  display: inline-block;
  text-decoration: none;
	text-transform: uppercase;
	text-align: center;
  cursor: pointer;
  position: relative;
	z-index: 1;
  color: white;
  background-color: #815260;
  line-height: 20px;
	height: 100%;
	margin: 0 5px;
  padding: 5px;
  border-radius: 10px;
  font-size: 10px;
}    

.linkListTravel:hover {
  background-image: linear-gradient(to bottom, #dd98a3, #c78993);
  color: white;
  text-decoration: none;
}

@media (min-width: 500px) and (max-width: 884.99px)  {
  .linkListTravel{
    font-size: 12px;
  }
}

@media (min-width: 885px) and (max-width: 1000.99px)  {
  .linkListTravel{
    font-size: 15px;
  }
}

@media (min-width: 885px) {
  .linkListTravel{
    font-size: 15px;
  }
}