.linkListTravel{
  margin: 1px;
}

.pointer{
  cursor: pointer;
}

.allStyleCreateYourList{
  display: flex;
  flex-direction: column;
}

.titleCollapsible{
  background-color: #aa6d7f;
  margin: 20px;
  padding: 30px;
  border-radius: 15px;
}

.createYourList{
  background: url(./img/workplace-g41ff900d6_1280.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  padding-bottom: 50px;
}


.allInputsCreateYourList{
  background-color: #a5708088;
  margin: 10px 20px 0 20px;
  padding: 20px;
  border-radius: 15px;
  cursor: default;
  font-size: 18px;
}

.textAddInputsCreateYourList{
  background-color: #a57080ef;
  color: rgb(31, 30, 30);
  margin: 10px 20px 0 20px;
  padding: 20px;
  border-radius: 15px;
  cursor: default;
  font-size: 18px;
  
}

.daysExampleFetch{
  margin-left: 10px;
  font-style: italic;
  
}

.destinationsExampleFetch{
  margin-left: 22px;
}

.olExampleFetch{
  margin-left: 22px;
  text-align: justify;
}

.binInputs{
  color: #633e49;
}

.input{
  border-radius: 5px;
  border: 1.5px solid #815260;
  background-color: #f7e1e8;
}

.buttonCreateList{
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #c2c3c4, #6f7172);
  color: #dddddd;
  font-size: 12px;
  padding: 5px 7px;
  margin: 5px 5px;
  text-decoration: none;
  border: #969fa8;
}

.selectCreateList{
  border-radius: 5px;
  background-image: linear-gradient(to bottom, #c2c3c4, #d9dbdb);
  color: #2e2d2d;
  font-size: 12px;
  padding: 3px;
  text-decoration: none;
}

.input, .pInput{
  margin-top: 5px;
}

.inputTextArea{
  border: 1.5px solid #815260;
  background-color: #f7e1e8;
  border-radius: 5px;
  width: 210px;
  height: 100px;
  resize: none;
}


@media (min-width: 608px) and (max-width: 677.99px) {
  .linkListTravel{
    margin: 5px;
  }

}

@media (min-width: 678px) and (max-width: 884.99px) {
  .allStyleCreateYourList{
    display: flex;
    flex-direction: row;
  }
  .textAddInputsCreateYourList, .allInputsCreateYourList{
    width: 50%; 
    background-color: #a5708088;
  }

}

@media (min-width: 885px) and (max-width: 1114.99px){
  .allStyleCreateYourList{
    display: flex;
    flex-direction: row;
  }

  .textAddInputsCreateYourList, .allInputsCreateYourList{
    width: 50%; 
    background-color: #a5708088;
  }

}

@media (min-width: 1115px) and (max-width: 1309.99px)  {

  .allStyleCreateYourList{
    display: flex;
    flex-direction: row;
  }

  .textAddInputsCreateYourList, .allInputsCreateYourList{
    width: 50%; 
    background-color: #a5708088;
  }
}

@media (min-width: 1310px) {

.createYourList{
  padding-bottom: 143px;
}

.allStyleCreateYourList{
  display: flex;
  flex-direction: row;
}

.textAddInputsCreateYourList{
  width: 50%; 
  background-color: #a5708088;
  flex-direction: column;
  display: flex;
  
}

.allInputsCreateYourList{
  width: 50%; 
  background-color: #a5708088;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

/* .allInputsCreateYourList{
  margin: 10px 80px 0 80px;
  padding: 20px 20px 0px 20px;
  width: 50%;
}

.textAddInputsCreateYourList{
  margin: 10px 80px 0 80px;
  padding: 20px;
  width: 50%;
} */


}
