.createYourListSmartPhone{
  background: url(./img/workplace-g41ff900d6_1280.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  padding-bottom: 300px;
}

.createYourListMobile{
  background: url(./img/workplace-g41ff900d6_1280.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  padding-bottom: 300px;
}

.createYourListDesktop{
  background: url(./img/workplace-g41ff900d6_1280.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  padding-bottom: 200px;
}

.createYourListDesktopMaxPixel{
  background: url(./img/workplace-g41ff900d6_1280.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  padding-bottom: 266px;
}

.allStyleCreateYourListSmartPhone{
  display: flex;
  flex-direction: row;
  
}

.allStyleCreateYourListMobile{
  display: flex;
  flex-direction: row;
}

.allStyleCreateYourListDesktop{
  display: flex;
  flex-direction: row;
}

.allStyleCreateYourListDesktopMaxPixel{
  display: flex;
  flex-direction: row;
}

.allInputsCreateYourListSmartPhone{
  background-color: rgba(187, 193, 199, 0.582);
  margin: 10px 80px 0 80px;
  padding: 20px;;
  border-radius: 15px;
  cursor: default;
  width: 50%;
}

.allInputsCreateYourListMobile{
  background-color: rgba(187, 193, 199, 0.58);
  margin: 10px 80px 0 80px;
  padding: 20px;;
  border-radius: 15px;
  cursor: default;
  width: 50%;
}

.allInputsCreateYourListDesktop{
  background-color: rgba(187, 193, 199, 0.58);
  margin: 10px 80px 0 80px;
  padding: 20px;
  border-radius: 15px;
  cursor: default;
  font-size: 18px;
  width: 50%;
}


.allInputsCreateYourListDesktopMaxPixel{
  background-color: rgba(187, 193, 199, 0.58);
  margin: 10px 80px 0 80px;
  padding: 20px 20px 80px 20px;
  border-radius: 15px;
  cursor: default;
  font-size: 18px;
  width: 50%;
}

.textAddInputsCreateYourListSmartPhone{
  background-color: rgba(187, 193, 199, 0.582);
  margin: 10px 80px 0 80px;
  padding: 20px;;
  border-radius: 15px;
  cursor: default;
  width: 50%;
}

.textAddInputsCreateYourListMobile{
  background-color: rgba(187, 193, 199, 0.58);
  margin: 10px 80px 0 80px;
  padding: 20px;
  border-radius: 15px;
  cursor: default;
  width: 50%;
}

.textAddInputsCreateYourListDesktop{
  background-color: rgba(187, 193, 199, 0.58);
  margin: 10px 80px 0 80px;
  padding: 20px;
  border-radius: 15px;
  cursor: default;
  font-size: 18px;
  width: 50%;
}


.textAddInputsCreateYourListDesktopMaxPixel{
  background-color: rgba(187, 193, 199, 0.58);
  margin: 10px 80px 0 80px;
  padding: 20px;
  border-radius: 15px;
  cursor: default;
  font-size: 18px;
  width: 50%;
}

.titleCollapsible{
  background-color: #d3b589d7;
  flex: 100px;
  margin: 20px;
  padding: 30px;
  border-radius: 15px;
}

.title{
  color: grey;
  text-align: center;
}
.pointer{
  cursor: pointer;
}

@media (max-width: 534.99px) {
  
  .createYourListMobile{
    display: none;
  }
  
  .createYourListDesktop{
    display: none;
  }
  
  .createYourListDesktopMaxPixel{
    display: none;
  }

  .allInputsCreateYourListMobile{
    display: none;
  }
  
  .allInputsCreateYourListDesktop{
    display: none;
  }
  
  .allInputsCreateYourListDesktopMaxPixel{
    display: none;
  }

  .textAddInputsCreateYourListMobile{
    display: none;
  }
  
  .textAddInputsCreateYourListDesktop{
    display: none;
  }
  
  .textAddInputsCreateYourListDesktopMaxPixel{
    display: none;
  }

}

@media (min-width: 535px) and (max-width: 739.99px) {

  .createYourListSmartPhone{
    display: none;
  }

  .createYourListDesktop{
    display: none;
  }
  
  .createYourListDesktopMaxPixel{
    display: none;
  }

  .allInputsCreateYourListSmartPhone{
    display: none;
  }

  .allInputsCreateYourListDesktop{
    display: none;
  }
  
  .allInputsCreateYourListDesktopMaxPixel{
    display: none;
  }

  .textAddInputsCreateYourListSmartPhone{
    display: none;
  }

  .textAddInputsCreateYourListDesktop{
    display: none;
  }
  
  .textAddInputsCreateYourListDesktopMaxPixel{
    display: none;
  }

}

@media (min-width: 740px) and (max-width: 1229.99px) {

  .createYourListSmartPhone{
    display: none;
  }
  .createYourListMobile{
    display: none;
  }

  .createYourListDesktopMaxPixel{
    display: none;
  }

  .allInputsCreateYourListSmartPhone{
    display: none;
  }
  .allInputsCreateYourListMobile{
    display: none;
  }

  .allInputsCreateYourListDesktopMaxPixel{
    display: none;
  }

  .textAddInputsCreateYourListSmartPhone{
    display: none;
  }
  .textAddInputsCreateYourListMobile{
    display: none;
  }

  .textAddInputsCreateYourListDesktopMaxPixel{
    display: none;
  }

}

@media (min-width: 1230px)  {

  .createYourListSmartPhone{
    display: none;
  }

  .createYourListMobile{
    display: none;
  }

  .createYourListDesktop{
    display: none;
  }

  .allInputsCreateYourListSmartPhone{
    display: none;
  }
  .allInputsCreateYourListMobile{
    display: none;
  }

  .allInputsCreateYourListDesktop{
    display: none;
  }

  .textAddInputsCreateYourListSmartPhone{
    display: none;
  }
  .textAddInputsCreateYourListMobile{
    display: none;
  }

  .textAddInputsCreateYourListDesktop{
    display: none;
  }

}