.styleSpacePlanningListHome{
  display: flex;
  justify-content: space-around;
  text-align: center;
	background: linear-gradient(to bottom, #707070, #dfeced);
	color: #626464;
}

.allPlanningHomeSmartPhone{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 100px;
  background-color: rgba(255, 255, 255, 0.404);
}

.allPlanningHomeMobile{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 100px;
  background-color: rgba(255, 255, 255, 0.404);
}

.allPlanningHomeDesktop{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 100px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.404);
}

.allPlanningHomeDesktopMaxPixel{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.planningHomeSmartPhone{
  padding: 20px;
}

.planningHomeMobile{
  padding: 20px;
}

.planningHomeDesktop{
  padding: 20px;
}

.planningHomeDesktopMaxPixel{
  padding: 20px;
  width: 50%;
}

.imgHomePlanningSmartPhone{
  border-radius: 10px;
  opacity: 0.85;
  width: 400px;
  height: 400px;
}

.imgHomePlanningMobile{
  border-radius: 10px;
  opacity: 0.85;
  width: 500px;
  height: 500px;
}

.imgHomePlanningDesktop{
  border-radius: 10px;
  opacity: 0.85;
  width: 600px;
  height: 600px;
}

.imgHomePlanningDesktopMaxPixel{
  width: 600px;
  height: 700px;
  border-radius: 10px;
  opacity: 0.85;
  
}

.titleAndParrafPlanningHomeSmartPhone{
  display: flex;
  flex-direction: column;
  margin: 20px 80px 20px 100px;
  padding: 250px 50px;
  font-size: 25px;
  border-radius: 10px;
}

.titleAndParrafPlanningHomeMobile{
  display: flex;
  flex-direction: column;
  margin: 20px 80px 20px 100px;
  padding: 250px 50px;
  font-size: 25px;
  border-radius: 10px;
}

.titleAndParrafPlanningHomeDesktop{
  display: flex;
  flex-direction: column;
  margin: 20px 80px 20px 100px;
  padding: 250px 50px;
  font-size: 25px;
  border-radius: 10px;
}

.titleAndParrafPlanningHomeDesktopMaxPixel{
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 700px;
  margin: 20px 80px 20px 100px;
  padding: 250px 50px;
  font-size: 25px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.404);
}

.parrafPlanningSmartPhone{
  text-align: justify;
  padding: 10px;
  font-size: 16px;
}

.parrafPlanningMobile{
  text-align: justify;
  padding: 10px;
  font-size: 18px;
}

.parrafPlanningDesktop{
  text-align: justify;
  padding: 10px;
  font-size: 20px;
}

.parrafPlanningDesktopMaxPixel{
  text-align: justify;
  padding: 10px;
  font-size: 22px;
}

.styleParallaxThird{
  height: 600px;
} 

@media (max-width: 534.99px) {

  .allPlanningHomeMobile{
    display: none;
  }

  .allPlanningHomeDesktop{
    display: none;
  }

  .allPlanningHomeDesktopMaxPixel{
    display: none;
  }

}

@media (min-width: 535px) and (max-width: 739.99px) {

  .allPlanningHomeSmartPhone{
    display: none;
  }

  .allPlanningHomeDesktop{
    display: none;
  }

  .allPlanningHomeDesktopMaxPixel{
    display: none;
  }

}

@media (min-width: 740px) and (max-width: 1229.99px) {

  .allPlanningHomeSmartPhone{
    display: none;
  }

  .allPlanningHomeMobile{
    display: none;
  }

  .allPlanningHomeDesktopMaxPixel{
    display: none;
  }

}

@media (min-width: 1230px)  {

  .allPlanningHomeSmartPhone{
    display: none;
  }

  .allPlanningHomeMobile{
    display: none;
  }

  .allPlanningHomeDesktop{
    display: none;
  }
}