.styleSpacePlanningListHome{
  display: flex;
  justify-content: space-around;
  text-align: center;
	background: linear-gradient(to bottom, #707070, #dfeced);
	color: #626464;
}

.allPlanningHome{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 100px 0;
  border-radius: 10px;
}

.imgHomePlanning{
  border-radius: 10px;
  opacity: 0.85;
  width: 400px;
  height: 400px;
}

.titleAndParrafPlanningHome{
  display: flex;
  flex-direction: column;
  margin: 20px 80px 20px 100px;
  padding: 250px 50px;
  font-size: 25px;
  border-radius: 10px;
}

.parrafPlanning{
  text-align: justify;
  padding: 10px;
  font-size: 16px;
}

.styleParallaxThird{
  height: 600px;
} 

@media (min-width: 535px) and (max-width: 739.99px) {
  .parrafPlanning{
    font-size: 18px;
  }

  .imgHomePlanning{
    border-radius: 10px;
    opacity: 0.85;
    width: 500px;
    height: 500px;
  }

}

@media (min-width: 740px) and (max-width: 1229.99px) {
  .parrafPlanning{
    font-size: 30px;
  }

  .imgHomePlanning{
    border-radius: 10px;
    opacity: 0.85;
    width: 600px;
    height: 600px;
  }

}

@media (min-width: 1230px)  {
  .allPlanningHome{
    justify-content: space-around;
    flex-direction: row-reverse;
  }

  .titlePlanningHome{
    text-align: center;
    width: 600px;
    height: 700px;
    margin-left:30px;
    padding: 150px 34px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.404);
  }

  .parrafPlanning{
    font-size: 22px;
  }

  .imgHomePlanning{
    width: 600px;
    height: 700px;
    border-radius: 10px;
    opacity: 0.85;
  }

  .planningHome{
    margin-right: 30px;
    width: 50%;
  }
  
}