.allListTravelFetch{
  background: url(./img/workplace-g41ff900d6_1280.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  min-height: calc(100vh - 280px);
}

.allCollapsible{
  background-color: rgba(187, 193, 199, 0.58);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 10px 100px 0 100px;
  border-radius: 15px;
  cursor: default;
}

.titleCollapsible{
  background-color: #d3b589d7;
  flex: 100px;
  margin: 20px;
  padding: 30px;
  border-radius: 15px;
}

.titleCollapsible, .title{
  color: grey;
  font-size: 20px;
}

.pointer{
  cursor: pointer;
}

@media (min-width: 740px) and (max-width: 1229.99px) {

  /* .allListTravelFetch{
    min-height: calc(100vh - 316px);
  } */

  .allCollapsible{
    font-size: 18px;
  }
}

@media (min-width: 1230px)  {

  .allListTravelFetch{
    min-height: calc(100vh - 316px);
  }

  .allCollapsible{
    font-size: 20px;
  }

}