.descriptionPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
	text-align: center;
  padding: 0 20px;
  margin: 250px 450px 250px 450px;
  border-radius: 10px;
  font-size: 20px;
  background-color: #8fa4a5;
  color: #f7f8f8;
}

.titleDescripcionPage{
  font-family: "cherry swash";
  padding: 0 60px;
  padding-top: 50px;
}

.parrafDescripcionPage {
 	font-family: "cherry swash";
  margin: 0 20px;
  margin-bottom: 50px;
  text-align: justify;
}