.descriptionPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
	text-align: center;
  padding: 0 20px;
  margin: 250px 50px;
  border-radius: 10px;
  font-size: 16px;
  background-color: #dddedf;
  color: #525e5e;
}

.titleDescripcionPage{
  padding: 0 60px;
  padding-top: 50px;
}

.parrafDescripcionPage {
  margin: 0 20px;
  margin-bottom: 50px;
  text-align: justify;
}

@media (min-width: 535px) and (max-width: 739.99px) {

  .descriptionPage{
    margin: 250px 100px;
  }

}

@media (min-width: 740px) and (max-width: 1229.99px) {

  .descriptionPage{
    margin: 250px 170px;
  }

}

@media (min-width: 1230px)  {

  .descriptionPage{
    margin: 300px 200px;
  }

}