.allRegisterLogin{
  background-color: rgb(170, 187, 197);
  padding: 60px 40px;
}
  
.titleAllRegisterUser{
  text-align: center;
}

.titleRegisterLogin{
  text-align: center;
  font-size: 30px;
}

.registerLogin{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin: 50px 0;
  padding: 20px;
  background-color: rgb(220, 233, 233);
  border: 1px solid rgb(37, 109, 145);
}

.registerLoginStyle{
  margin: 20px 0px;
}

.inputRegLog {
  border-radius: 5px;
  border: 1px solid rgb(37, 109, 145);
  margin: 10px;
  width: 170px;
}

label{
  display: inline-block;
  width: 80px;
}

@media (min-width: 535px) and (max-width: 859.99px) {

  .inputRegLog {
    width: 185px;
  }
}

@media (min-width: 860px) and (max-width: 1229.99px) {
  .allRegisterLogin{
    background-color: rgb(170, 187, 197);
    padding: 40px 90PX 150PX 90PX;
  }

  .registerLoginSoon{
    display: flex;
    justify-content: space-around;
  
  }

  .registerLoginStyle{
    padding: 10px;
  }

  .inputRegLog {
    width: 190px;
  }

}

@media (min-width: 1230px)  {
    .allRegisterLogin{
    background-color: rgb(170, 187, 197);
    padding: 40px 100PX 150PX 100PX;
  }
  
  .registerLoginSoon{
    display: flex;
    justify-content: space-around;

  }

  .registerLoginStyle{
    margin: 0px 20px;
    padding: 40px;
  }

  .inputRegLog {
    width: 250px;
  }

}