
.allRegisterLogin{
    background-color: rgb(170, 187, 197);
    padding: 80px 100PX 150PX 100PX;
  }
  
  .titleAllRegisterUser{
    text-align: center;
  }
  
  .titleRegisterLogin{
    text-align: center;
    font-size: 30px;
  }
  
  .registerLogin{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 50px 0;
    padding: 50px;
    background-color: rgb(220, 233, 233);
    border: 1px solid rgb(37, 109, 145);
  }
  
  .inputRegLog {
    border-radius: 5px;
    border: 1px solid rgb(37, 109, 145);
    margin: 10px;
    width: 250px;
  }
  
  label{
    display: inline-block;
    width: 80px;
    margin-right: 10px;
  }
  
  @media (max-width: 534.99px) {
    .allRegisterLogin{
      background-color: rgb(170, 187, 197);
      padding: 100px 40px;
    }
  
    .inputRegLog {
      border-radius: 5px;
      border: 1px solid rgb(37, 109, 145);
      margin: 10px;
      width: 180px;
    }
  }
  
  @media (min-width: 535px) and (max-width: 739.99px) {
  
    .allRegisterLogin{
      background-color: rgb(170, 187, 197);
      padding: 100px 40px;
    }
  
    .inputRegLog {
      border-radius: 5px;
      border: 1px solid rgb(37, 109, 145);
      margin: 10px;
      width: 190px;
    }
  
  }
  
  @media (min-width: 740px) and (max-width: 1229.99px) {
    .allRegisterLogin{
      background-color: rgb(170, 187, 197);
      padding: 100px 40px 190px 40px;
    }
  
    .registerLogin{
      display: flex;
      justify-content: space-around;
      border-radius: 10px;
      margin: 50px 0;
      padding: 20px;
      background-color: rgb(220, 233, 233);
      border: 1px solid rgb(37, 109, 145);
    }
  
    .registerLogin{
      display: flex;
      justify-content: space-around;
      border-radius: 10px;
      margin: 50px 0;
      padding: 50px;
      background-color: rgb(220, 233, 233);
      border: 1px solid rgb(37, 109, 145);
    }
  
    .inputRegLog {
      border-radius: 5px;
      border: 1px solid rgb(37, 109, 145);
      margin: 10px;
      width: 200px;
    }
  
  }
  
  @media (min-width: 1230px)  {
    .registerLogin{
      display: flex;
      justify-content: space-around;
      border-radius: 10px;
      margin: 50px 0;
      padding: 50px;
      background-color: rgb(220, 233, 233);
      border: 1px solid rgb(37, 109, 145);
    }
  
    
  }