@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
*{
  box-sizing: border-box;
  margin: 0px;
  font-family: "Montserrat";
}


body{
  background-repeat: no-repeat;
  background-size: cover;
}

.react-parallax{
  opacity: 0.9;
}

main{
  min-height: calc(100vh - 286px);
}

