.topnav {
  overflow: hidden;
  background-color: #dddedf;
  position: relative;
}

.topnav a {
  color: rgb(14, 13, 13);
  /* padding: 15px 16px; */
  text-decoration: none;
  font-size: 21px;
  display: block;
}

.topnav a.icon {
  background-color: #5992b6;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 17px 23px;
  height: 85px;
  width: 80px;
}

.topnav a:hover {
  /* background-color: #4f7a94; */
  color: rgb(250, 248, 248);
}

#myLinks{
  background-color: #9abfd6;
}

.imgAndTitleBurguer{
	display: flex;
  justify-content: center;
	flex-direction: column;
}

.linkHeaderImgBurguer{
	width: 70px;
	height: 70px;
  margin: 5px;
}


