.createYourListSmartPhone{
  background: url(../img/workplace-g41ff900d6_1280.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  padding-bottom: 300px;
}

.allStyleCreateYourListSmartPhone{
  display: flex;
  flex-direction: row;
}

.allInputsCreateYourListSmartPhone{
  background-color: rgba(187, 193, 199, 0.582);
  margin: 10px 80px 0 80px;
  padding: 20px;;
  border-radius: 15px;
  cursor: default;
  width: 50%;
}

.textAddInputsCreateYourListSmartPhone{
  background-color: rgba(187, 193, 199, 0.582);
  margin: 10px 80px 0 80px;
  padding: 20px;;
  border-radius: 15px;
  cursor: default;
  width: 50%;
}