.footer{
  background: linear-gradient(to bottom, #dddedf, #707070);
  /* background:  #bea989; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgLogoSrtaSalo{
  width: 100px;
  margin: 5px;
}

.socialMediaTitle{
  font-size: 18px;
  color: #464444;
}

.fa-twitter,
.fa-linkedin,
.fa-github{
  color: #464444;
  margin: 10px;
  padding-bottom: 10px;
}