.footer{

  background:  #caa56e;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgLogoSrtaSalo{
  width: 150px;
  margin: 10px;
}

.socialMediaTitle{
  font-size: 20px;
  color: #464444;
}

.fa-twitter,
.fa-linkedin,
.fa-github{
  color: #464444;
  margin: 10px;
  padding-bottom: 30px;
}